* {
	font-family: sans-serif;
	padding: 0;
	margin: 0;
	text-decoration: none;
}

body {
	background: white;
	overflow: hidden;
}

.page-frame {
	border: 0;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	transform: translate(-50%, -50%);
	overflow: hidden;
}

.btn {
	position: fixed;
	bottom: 1vh;
	right: 1vw;
	width: 100%;
	height: 10%;
}

.btn-page {
	float: right;
	margin: 0.5vh;
	height: 7vh;
	width: 7vh;
	border: 0;
	border-bottom: 0.5vh solid rgb(0, 110, 175);
	background: rgb(0, 162, 255);
	color: white;
	text-align: center;
	font-size: 6.5vh;
	cursor: pointer;
	border-radius: 25%;
	transition: 0.25s;
}

.btn-page:hover {
	box-shadow: 0 0.75vh 0.75vh rgba(0, 110, 175, 0.5);
	text-shadow: 0 0 0.75vh white;	
	transform: translateY(-20%) scale(1.1);
}

.pager {
	position: fixed;
	bottom: 11vh;
	right: 1vw;
	height: 7vh;
	width: 15vh;
	border: 0;
	border-bottom: 0.5vh solid rgb(0, 110, 175);
	background: rgb(0, 162, 255);
	color: white;
	text-align: center;
	font-size: 6.5vh;
	border-radius: 1.5vh;
	transition: 0.25s;
	margin: 0.5vh;
}